<div class="sidebar is-active">
    <div class="sidebar__logo">
        <div class="sidebar__logo--first-character">S</div>
        <div class="sidebar__logo--second-character">P</div>
    </div>
    <ul class="sidebar__lists">
        <a href="{{ path('admin_articles') }}">
            <li class="sidebar__lists--items active">Articles</li>
        </a>
        <a href="{{ path('logout') }}">
            <li class="sidebar__lists--items">Logout</li>
        </a>
    </ul>
</div>